<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339482593695-oks6ai78n58er6i4qdidb2k72s7go2th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339482593695-oks6ai78n58er6i4qdidb2k72s7go2th</string>
	<key>API_KEY</key>
	<string>AIzaSyBXGgwErSPWN9DuAYRZQIwx980IDfsuaeU</string>
	<key>GCM_SENDER_ID</key>
	<string>339482593695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>chatti-e09fb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatti-e09fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339482593695:ios:3cb2e8e6e8209cda44d5aa</string>
</dict>
</plist>